
*{
  font-family: "宋体";
}
html, body {
    height: 100%;
    background-color: #747D93;
    margin: 0 auto;
    padding: 0;
    border: 0;
    font-family: "宋体";
}

.wrapper {
    min-height: 100%;
    margin-bottom: -80px;
    background-color: #747D93;
}
.wrapper:after {
    content: "";
    display: block;
}


.footer, .wrapper:after {
    height: 80px;
    font-size: 12px;
}


#treeView, .tree{
    background-color: #e1e1e1;
}

.container {
   background-color: #ffffff;
}
#slideshow
{
    z-index:-1;
}
#news_center
{
}

#news_img   
{
   margin:7px;
   border-radius:15px;
   z-index: 50px;
}

#news_img img
{
    border-radius: 3px;
    width: 500px;
    height: 333.33px;
}
.carousel-indicators li
{
    background-color: #638fa5;
    opacity: 0.6;
}

#news_one
{
    margin:5px;
    border-radius: 4px;
    border:1px solid #e1e1e1;
    border-style: outset;
}


 .tab
{
  font-family: "黑体";
   font-size: 20px;
   color: #032f55;
   margin: 10px;
   border-bottom: 1px solid #e1e1e1;

}

 .tab a
{
  float:right;  
  font-size: 15px;
  color: #205b8e;
}
 .news1_brief
 {
    float:right;
    margin-left: 510px;
    margin-top: -325px;
    height:320px;
 }

 .news1_brief h4
 {
    border-bottom: 1px solid #e1e1e1;
 }
 
 .news1_brief span
 {
    float:right;
    margin-top: 165px;
 }
#news_two
{
    margin-top: 10px;
}

#news_two .thumbnail p
{
    color:black;
}

#news_two li
{
    float:left;
}

body {
  font-size: 16px;
  line-height: 27px;
  font-family: 'Open Sans', sans-serif;
  color: #444;
  background-color: #fff;
}

a {
  color: #5b6268;
}

a:hover,
a:focus {
  text-decoration: none;
  color: #5b6268;
}

h1 {
  font-size: 45px;
  line-height: 60px;
  font-weight: normal;
  font-family: 'PT Serif', serif;
}

h2 {
  font-size: 30px;
  line-height: 40px;
  font-family: 'Open Sans', sans-serif;
}

h3 {
  font-size: 21px;
  line-height: 30px;
  font-weight: normal;
  font-family: 'Open Sans', sans-serif;
}

hr {
  border-top-color: #ced5db;
}

.fa {
  font-size: 24px;
}

::selection {
  background: #566572;
  /* Safari */
  color: #feffff;
}

::-moz-selection {
  background: #566572;
  /* Firefox */
  color: #feffff;
}

.masthead {
  padding-top: 55px;
  padding-bottom: 55px;
}

.masthead #logo {
  float: left;
  display: block;
}

.widewrapper {
  background-color: #fff;
}

.widewrapper.main {
}

.widewrapper.masthead {
  background-color: #fff;
  color: #f8f8f9;
  border-bottom: #aaa;
}

.widewrapper.subheader {
  background-color: #f1f1f1;
  color: #444;
  font-size: 16px;
  min-height: 63px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.widewrapper.footer {
  background-color: #333;
  color: #eee;
  font-size: 14px;
}

.widewrapper.footer a {
  color: #7b8690;
}

.widewrapper.footer h1,
.widewrapper.footer h2,
.widewrapper.footer h3,
.widewrapper.footer h4,
.widewrapper.footer h5 {
  color: #e6e6e6;
}

.widewrapper.copyright {
  color: #7b8690;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  background-color: #232323;
}

.widewrapper.copyright a {
  
}
.copyrights{
	text-indent:-9999px;
	height:0;
	line-height:0;
	font-size:0;
	overflow:hidden;
}




